<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="formularioRegistro" (keyup.enter)="guardarDatos()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">edad</ion-label>
        <ion-input formControlName="age"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">username</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">fecha de nacimiento</ion-label>
        <ion-input formControlName="birthDate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">genero</ion-label>
        <ion-input formControlName="gender"></ion-input>
      </ion-item>
      <ion-card-content [routerLink]="['/login']">
        <ion-button (click)="guardarDatos()" color="success">
          <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
