<ion-header>
  <ion-toolbar>
    <ion-title>listaProductos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-template #cargando>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
  <ng-template #losDatos>
    <ion-card *ngFor="let productos of apiProductos.listarProductos$ | async " [routerLink]="['/detalle-producto/' + productos.id]">
      <ion-card-header>
    <img [src]="productos.thumbnail">
      </ion-card-header>
      <ion-card-title>{{productos.title}}</ion-card-title>
      <ion-card-subtitle>{{productos.category}}</ion-card-subtitle>
      <ion-card-content>
        <h1>★{{productos.rating}}★</h1>
        <h1>${{productos.price}}</h1>
        <h1>descuento:{{productos.discountPercentage}}</h1>
      </ion-card-content>
      <ion-card-content>{{productos.description}}</ion-card-content>






      <p></p>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="cargarmas()">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
  <p *ngIf="apiProductos.listarProductos$; then losDatos else cargando"></p>
</ion-content>
