<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

      <ion-item>
        <ion-label position="floating">usuario</ion-label>
        <ion-input type="text" ></ion-input>

      </ion-item>


      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" ></ion-input>
      </ion-item>
        <ion-item>
          <ion-button  [routerLink]="['/lista-productos']">Iniciar sesión
          </ion-button>
        </ion-item>


  </ion-card>
</ion-content>
